@{
    ViewData["Title"] = "Education";
}

<section id="education">
    <h2>education</h2>
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. suiatur consequuntur, eligendi dolor.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas alias id illo at dolorum, quam praesentium? Eligendi cupiditate molestias eum voluptates. Illo ipsum ratione cupiditate pariatur consequuntur, eligendi dolor.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas alias id illo at dolorum, quam praesentium? Eligendi cupiditate molestias eum voluptates. Illo ipsum ratione cupiditate pariatur consequuntur, eligendi dolor.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas alias id illo at dolorum, quam praesentium? Eligendi cupiditate molestias eum voluptates. Illo ipsum ratione cupiditate pariatur consequuntur, eligendi dolor.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas alias id illo at dolorum, quam praesentium? Eligendi cupiditate molestias eum voluptates. Illo ipsum ratione cupiditate pariatur consequuntur, eligendi dolor.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas alias id illo at dolorum, quam praesentium? Eligendi cupiditate molestias eum voluptates. Illo ipsum ratione cupiditate pariatur consequuntur, eligendi dolor.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab autem reprehenderit deserunt, iusto quam commodi at possimus iste? Porro ab molestiae accusamus, sapiente odio placeat quia iste eum nostrum voluptatum?</span>
</section>