@{
    ViewData["Title"] = "Main";
}

<section id="Main">
    <h2>Main</h2>
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas alias id illo at dolorum, quam praesentium? Eligendi cupiditate molestias eum voluptates. Illo ipsum ratione cupiditate pariatur consequuntur, eligendi dolor.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas alias id illo at dolorum, quam praesentium? Eligendi cupiditate molestias eum voluptates. Illo ipsum ratione cupiditate pariatur consequuntur, eligendi dolor.</span>
</section>