@{
    ViewData["Title"] = "Projects";
}

<section id="projects">
    <h2>projects</h2>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi natus fuga assumenda libero fugit, obcaecati corporis labore odit asperiores nulla totam perferendis nesciunt esse dolorum ea itaque, voluptatibus rerum unde.</span>
</section>