.header {
    background-color: #323B4C;
    text-transform: uppercase;
    height: 5vh;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
}

.header a:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}

.main{
    display: flex;
}

.main .left img{
    border-radius: 50%;
}

.main .left h1{
    text-transform: uppercase;
    margin: 10px 0px 20px 0px;
}

.main .left a{
    text-transform: lowercase;
    margin: 10px 0px 20px 0px;
    display: block;
}

.main .left a:hover{
    cursor: pointer;
    width: max-content;
    border-bottom: 1px solid black;
    color: black;
    padding-bottom: 1px;
}

.main .left{
    color: white;
    width: 20%;
    padding-right: 3vh;
    padding-left: 1vh;
    margin-right: 2vh;
    background-color: #323B4C;
    height: 95vh;
}

.main .left .leftabout{
    display: block;
    text-transform: uppercase;
    margin: 10px 0px 20px 0px;
}

.main h2{
    text-transform: uppercase;
}

.main .right{
    color: #343D4B;
}

.main .right h2{
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px 20px 0px;
}



.main .right form span{
    text-transform: capitalize;
}

.main .right form .input{
    text-transform: capitalize;
    border: 1px solid black;
}

.main .right textarea{
    border: 1px solid black;
}

.button {
    background-color: #343D4B; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button:hover{
    background-color: black; /* Green */
    border: none;
    color: #343D4B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }